# Compilação
target/
out/
build/

# Arquivos de log
*.log

# Configurações do IntelliJ
.idea/
*.iml

# Configurações do VSCode
.vscode/

# Arquivos do Maven
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# Arquivos temporários do sistema
*.class
*.jar
*.war
*.ear
*.tmp
*.cache
*.DS_Store

# Arquivos de backup
*~
*.swp
*.bak

